/* .loading {
    align-items: center;
    display: flex;
    justify-content: center;
}

body{
    margin: auto;
    padding: auto;
}

.formulario {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 50px;
    max-width: 100%;
    max-height: 5%;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px;
    background-color: rgb(216, 216, 216);
}

input{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

button{
    font-size: 18px;
    padding: 10px;
    background-color: rgb(101, 255, 135);
    border-radius: 15px;
} */